<script>
    import Footer from '../components/Footer.svelte';
    import Header from '../components/Header.svelte';
    import Nav from '../components/Nav.svelte';
  
    import '../styles/global.css';
</script>
  <svelte:head>
    <title>Chinco - Page introuvable</title>
  </svelte:head>
  <Header />
  <Nav />
  <main>
    <div class="container">  
      <h1 class="chinco-title text-center">La page que vous cherchez se trouve dans une autre brasserie !</h1>
    
      <div class="row">
        <p> Mais pas d'inquiétude, vous pouvez toujours trouver votre bonheur en passant par le menu, 
            ou directement sur notre
        <a target="_blank" href="files/brochure.pdf">brochure téléchargeable</a> !
        </p>
      </div>
    </div>
  </main>
  <Footer />
  <style lang="scss">
    main {
      .chinco {     
        &-title {
          padding: 40px 0;
          font-family: Majanan;
          font-size: 100px;
          color: var(--chinco);
        }
      }
    }
  </style>