<script>
    import CardSquare from '../components/CardSquare.svelte';
    import Footer from '../components/Footer.svelte';
    import Header from '../components/Header.svelte';
    import Nav from '../components/Nav.svelte';
    import '../styles/global.css';
  </script>
  <svelte:head>
    <title>chinco - brasserie traditionnelle</title>
  </svelte:head>
  <Nav />
  <Header />
  <main>
    <div class="line-odd line-combava-medal">
      <div class="container">
        <div class="chinco-home-bloc chinco-row-news row">
          <div class="col-xl-6 col-lg-6 col-12">    
            <img width=400 class="winner" src="images/winner-blanche.webp" alt="chinco"/>
          </div>
          <div class="homeline homeline-blanche col-xl-6 col-lg-6 col-12">
            <h3 class="chinco-title-beer">blanche combava</h3>
            <p>La blanche combava a remporté la médaille d'argent du concours international de Lyon 2024 ! Nous sommes fiers d'avoir présenté cette bière,
              qui était d'abord une cuvée éphémère de la brasserie, mais que nous avons passée en bière régulière suite à vos nombreux retours ! Merci !
            </p>      
          </div>
        </div>
      </div>
    </div>
    <div class="line-even line-stout-medal">
      <div class="container">
        <div class="chinco-home-bloc chinco-row-news row">
          <div class="homeline col-xl-6 col-lg-6 col-12">
            <h3 class="chinco-title-beer">chinco stout</h3>
            <p>Notre stout est double médaillée d'or ! Après celle de Lyon de 2023 pour notre première participation, nous avons décroché la médaille d'or de Frankfurt
              2024. 
            <br /><br />
            <a href="/produits">Envie de goûter ? C'est par ici !</a>
            </p>      
          </div>
          <div class="col-xl-6 col-lg-6 col-12">    
            <img width=450 class="winner" src="images/winner-stout-double.webp" alt="chinco"/>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="chinco-home-bloc chinco-row-cardsquare row">
      <h2 class="chinco-title">notre brasserie c'est...</h2>
      <CardSquare img="arti"
      width="300"
      height="auto"
      title="une bière artisanale" 
      text="Découvrez notre gamme de bières traditionnelles, élaborée par une équipe de brasseurs passionnés. 
      Destinée aux amateurs de bières, nous faisons en sorte que la qualité soit au rendez-vous." />
      <CardSquare img="racine" 
      width="300"
      height="auto"
      title="les racines des îles" 
      text="Nos bières sont uniques grâce aux racines de nos brasseurs. Nés dans l'Océan Indien, ils vous feront goûter
      à l'exotisme à travers différentes saveurs et épices. Pour cette première d'une longue série, ils vous proposent la 
      Chinco Gingembre." />
      <CardSquare img="quali" 
      width="300"
      height="auto"
      title="une bière toujours de qualité" 
      text="Même si notre bière est artisanale, nous souhaitons mettre à disposition des bières les plus identiques possibles
      au fil des brassages. C'est pourquoi nous goûtons chaque brassage avant embouteillage pour nous assurer d'un goût toujours
      parfait." />
    </div>
  </div>
  <div class="line-odd">
    <div class="container">
      <div class="chinco-home-bloc chinco-row-even row">
        <h2 class="chinco-title">la bière chinco</h2>
          <p> Chez Chinco, vous trouverez une bière qui vous correspond. Notre bière blonde saura vous surprendre 
          par son caractère, et si ce n'est pas suffisant, vous trouverez sûrement votre bonheur en dégustant notre IPA.
          Une envie de bière chaleureuse ? Vous vous laisserez séduire par la robe rousse de notre Ambrée. Et si vous êtes
          du côté obscur de la bière, notre Stout vous ravira forcément. Et enfin, si vous souhaitez un dépaysement total, 
          vous saurez apprécier notre bière au gingembre, édition spéciale de la Chinco.
          <br /><br />
          <a href="/produits">Je découvre ma Chinco.</a>
          </p>      
      </div>
    </div>
  </div>
  <div class="container">
    <div class="chinco-home-bloc chinco-row-cardsquare row">
      <h2 class="chinco-title text-center">notre engagement</h2>
      <CardSquare img="num1" 
      height="160"
      title="l'indépendance" 
      text="Chinco est une micro-brasserie indépendante et libre de toute franchise ou groupe industriel. Toutes nos bières sont
      brassées et embouteillées dans notre local, dans les Ardennes. Nous ne sous-traitons pas et suivons intégralement la production." />
      <CardSquare img="num2" 
      height="160"
      title="une vente en main propre" 
      text="Une fois vos commandes effectuées, nos bières vous seront remises en main propre, dans la ville de Reims et de Paris 
      (possibilité de panacher votre pack)." />
      <CardSquare img="num3"
      height="160"
      title="des brasseurs passionnés" 
      text="Brasseur amateur, voguant de concours en concours depuis dix ans, notre brasseur est impatient d'avoir vos retours 
      sur nos bières brassées avec passion." />
    </div>
  </div>
  </main>
  <Footer />
  <style lang="scss">
    
    main {
      .chinco {
        &-title {
          padding: 40px 0;
          font-family: Majanan;
          font-size: 120px;
          color: var(--chinco);
          &-beer {
            padding: 80px 0 40px 0;
            font-family: Majanan;
            font-size: 80px;
            color: #FFFFEB;
          }
        }
  
        &-home-bloc {
          text-align: center;
          .winner {
            max-width: 100%;
          }
        }

        &-row-even {
            p {
              font-family: 'Arial';
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 32px;
              padding-bottom: 40px;
            }
            a {
              font-family: 'Lucida Grande';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              color: black;
              /* identical to box height */
              text-decoration-line: underline;
            }
        }

        &-row-cardsquare {
          padding-bottom: 40px;
        }

        &-row-news {
            p, a {
              font-family: 'Lucida Grande';
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #FFFFEB;
            }
            a {
              font-weight: 600;
            }
            .homeline-blanche {
              padding-bottom: 40px;
              h3, p {
                color: #FFFFEB;
              }
            }
        }
      }
    }

    .line {
      &-even {
        background-color: #111C26;
      }
      &-odd {
        background-color: #FFE7CE;
      }
      &-combava-medal {
        background: url('/images/combava-bg-home.jpg') 50%;
      }
      &-stout-medal {
        background: url('/images/stout-bg-home.jpg') 20%;
      }
    }

  @include media-breakpoint-up(md) {
    main {
      .chinco {
        &-home-bloc {
          text-align: initial;
        }
      }
    }
  }
  </style>