/* stylelint-disable comment-empty-line-before */
:root {
    --primary:       #2C2728;
    --secondary:     #bbb9b9;
    --success:       #8f8f8f;
    --info:          #757575;
    --light:         #2C2728;

    --cream:  #FFFFFF;
    --chinco: #2C2728;
    --copper: #F87528;
}

main {
    font-family: 'Lucida Grande';
}