<script>
    export let title;
    export let text;
    export let img;
    export let width;
    export let height;
</script> 

<div class="col-xl-4 col-lg-4 col-12">
    <div>
        <img class={img} width="{width}" height="{height}" src="images/{img}.webp" alt="chinco-{img}"/>
    </div>    
    <h3 class="chinco-litte-title">{title}</h3>
    <p>{text}</p>
</div>

<style lang="scss">
    .chinco-litte-title {
        font-family: Majanan;
        margin-top: 10px;
        font-size: 55px;
        color: var(--chinco);
        text-align: center;
    }
    p {
        text-align: center;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 28px;
    }
</style>