<script>
    export let slug;
    export let title;
    export let img;
    export let desc;
    export let ibu;
    export let ebc;
    export let pourcent;
    export let order;
    export let rupture=false;
    export let medal_size=120;
    export let gold=false;
    export let gold_de=false;
    export let silver=false;
    export let ephemere=false;
    export let barrel=false;

    let align = order == 1 ? "left" : "right";

    let bgElement;
    let pourcentElement
    $: bgElement && bgElement.style.setProperty('--bg-img', `url('/images/`+slug+`-bg.png')`);
    $: bgElement && bgElement.style.setProperty('--bg-mobile-img', `url('/images/`+slug+`-bg-mobile.png')`);
    $: pourcentElement && pourcentElement.style.setProperty('--pourcent-align', align);

</script>
<div class="row chinco-row">
  <div class="chinco-product-desc chinco-product-desc-{slug} col-xl-6 col-lg-6 col-12 order-lg-{order} order-2"> 
    <div class="container position-relative" id="product">
      <div class="chinco-biere-title">
        {#if ephemere}
          <div class="ephemere ephemere-{slug}">
            Éphémère
          </div>
        {/if}
        {title} <span class="chinco-biere-pourcent" bind:this={pourcentElement}>
          {pourcent}%&nbsp;Vol
        </span><br />
      </div>
      {#if gold}
        <img class="img-fluid chinco-biere-medaille" width="{medal_size}" src="images/medaille-gold.webp" alt="Chinco - médaille d'or Lyon"/>
      {/if}
      {#if gold_de}
        <img class="img-fluid chinco-biere-medaille chinco-biere-medaille-de" width="{medal_size}" src="images/medaille-gold-de.webp" alt="Chinco - médaille d'or de Frankfurt"/>
      {/if}
      {#if silver}
        <img class="img-fluid chinco-biere-medaille" width="{medal_size}" src="images/medaille-silver.webp" alt="Chinco - médaille d'or Lyon"/>
      {/if}  
      <div class="chinco-biere-description">
        {#if rupture}
            <p class="chinco-rupture">En rupture de stock !</p>
        {/if}
          <p class="chinco-biere-data">
            {#if ibu && ebc}
              IBU : {ibu}     
              EBC : {ebc}
            {/if}
          </p>
        {desc}
        <div class="chinco-biere-format">
          Format de vente : <br /> 
          <img src="images/icon-bottle.svg"  class="icon-format icon-format-bottle" alt="Chinco - Bouteille"/>
          {#if barrel}
          <img src="images/icon-fut.svg" class="icon-format icon-format-barrel" alt="Chinco - Fut"/>
          {/if}
        </div>
      </div>  
    </div>
  </div>    
  <div class="chinco-product-background col-xl-6 col-lg-6 col-12 order-1" bind:this={bgElement}></div>   
  <div class="chinco-biere">
    <img class="img-fluid chinco-biere-absolute" src="images/{img}.png" alt="Chinco - {img}"/>
  </div>
</div>
<style lang="scss">
  	:root {
      --bg-img: inherit;
      --bg-mobile-img: inherit;
      --pourcent-align: initial;
	  }
    .chinco {     
      &-row {
        margin-bottom: 24px;
      } 
      &-product-desc {
        height: 800px;
        &-stout {
          background-color: #EFF0F0;
        }
        &-ambree {
          background-color: #F8DECC;
        }
        &-blonde {
          background-color: #FFFFEB;
        }
        &-ipa {
          background-color: #ECFCF6;
        }
        &-gingembre { 
          background-color: #FFFCD4;
        }
        &-miel {
          background-color: #FFE7CE;
        }
        &-combava {
          background-color: #CFF2F9;
        }
        &-myrtille {
          background-color: #EEE0A3;
        }
        &-triple {
          background-color: #C9DCFE;
        }
        &-hibiscus {
          background-color: #FFCDD0;
        }
        &-epice-noel {
          background-color: #98C896;
        }
        &-fleur-ete {
          background-color: #FACEAD;
        }
        &-tilleul {
          background-color: #B6CFAE;
        }
        &-poivre {
          background-color: #E8A1A1;
        }
        .ephemere {
          font-family: 'Lucida Grande';
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          text-transform: capitalize;

          &-miel {
            color: #7A3700;
          }
          &-combava {
            color: #045367;
          }
          &-myrtille {
            color: #5449A1;
          }
          &-hibiscus {
            color: #D9434B;
          }
        }
      }
      &-product-background {
        background-image: var(--bg-mobile-img);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 185px;
      }
      &-biere {
        position: relative;
        &-absolute {
          position: absolute;
          left: 0;
          right: 0;
          top: 125px;
          bottom: 0;
          margin: auto;
          max-height: 220px;
        }
      }
      &-biere-title {
        padding-top: 120px;
        padding-bottom: 20px;
        font-family: Majanan;
        color: var(--chinco);
        text-transform: lowercase;
        font-size: 65px; 
        line-height: 86px;
        max-width: 90%;
        margin: 0 auto;
      }
      &-biere-medaille {
        position: absolute;
        top: -30%;
        right: 0%;
        width: 65px;
        &-de {
          right: 20%;
        }
      }
      &-biere-description {
        font-family: 'Lucida Grande';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        max-width: 90%;
        margin: 0 auto;
      }
      &-biere-data {
        margin-bottom: 55px;
        font-family: 'Lucida Grande';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
      &-biere-format {
        margin-top: 25px;
        font-family: 'Lucida Grande';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        .icon-format {
          margin: 10px 0 0 0;
        }
      }
      &-biere-pourcent {
        font-family: 'Majanan';
        font-size: 32px;
        line-height: 46px;
        padding-top: 60px;
        text-align: var(--pourcent-align);
      }

      &-rupture {
        color: red;
      }
    }
  @include media-breakpoint-up(md) {
    .chinco {
      &-product-desc {
        height: 600px;
        &-miel {
          height: 700px;
        }
      }
      &-biere {
        &-absolute {
          top: 125px;
        }
        &-medaille {
          width: 80px;
          top: 5%;
          right: 5%;
          &-de {
            right: 25%;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .chinco {
      &-product-desc {
        height: 600px;
        &-miel {
          height: 700px;
        }
      }
      &-product-background {
        background-image: var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 185px;
      }
      &-biere {
        &-absolute {
          top: 350px;
          max-height: 489px;
        }
        &-title, &-description {
          max-width: 70%;
        }
        &-medaille {
          width: 120px;
          &-de {
            right: 33%;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .chinco {
      &-biere {
        &-title {
          font-size: 98px;
        }
        &-pourcent {
          font-size: 52px;
        }
      }
      &-product-desc-poivre, &-product-desc-fleur-ete {
        .chinco-biere-title {
          font-size: 78px;
        }
      }
    }
  }

</style>
