<script>
    import Social from '../components/Social.svelte';
    import moment from 'moment';
</script>
<div class="line-footer">
    <footer class="container body-content well">
        <div>
            <address><b>Brasserie Chinco</b><br>
            3, rue des lavandières - 08300 Neuflize<br>
            <a href="mailto:contact@chinco.fr" title="Nous contacter par mail à l'adresse suivante">cont<!-- spam@here -->act@chin<!-- @fake.tld -->co.fr</a></address>
            Notre <a target="_blank" href="files/brochure.pdf">brochure téléchargeable</a> est disponible ! Consultez nos produits.
            <p>Retrouvez le règlement de notre jeu concours en cliquant <a target="_blank" href="files/reglement-jeu-concours.pdf">ici</a>.</p>
            <p><span class="copyleft">©</span> {moment().format('YYYY')} Chinco | ♥ Le respect de votre vie privée est important pour nous. 
            Nous ne collectons aucune de vos données personnelles.</p>
            <Social width=30 />
        </div>
    </footer>
</div>

<style lang="scss">
    .line-footer {
        background-color: #111C26;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        font-family: 'Lucida Grande';
        color: var(--cream);

        div {
            max-width: 950px;
        }
        
        a {
            color: var(--cream);
            &:hover {
                color: var(--copper);
            }
        }
    }
</style>