<header>
    <div class="container" id="header">
        <div class="chinco-home-bloc row">
            <div class="col-xl-7 col-lg-7 col-12">
              <h2 class="chinco-title">chinco, la bière traditionnelle</h2>
              <a class="chinco-btn btn btn-primary" href="/produits" role="button">Découvrez nos bières</a>
            </div>
            <div class="col-xl-5 col-lg-5 col-12">    
                <img class="container gamme" src="images/image-header.png" alt="chinco"/>
            </div>
          </div>
    </div>
</header>

<style lang="scss">
    header {
        div#header {
            img {
                margin: 40px 0;
            }
        }
        .chinco {
            &-title {
                padding: 40px 0;
                font-family: Majanan;
                font-size: 100px;
                color: var(--chinco);
            }
    
        &-btn {
            background: var(--copper);
            border: var(--copper);
            border-radius: 8px;
            font-family: "Lucida Grande";
            font-weight: 600;
            padding: 20px;
        }
      }
    }

</style>