<script>
  import { onMount } from 'svelte';
  import {
    Collapse,
    Navbar,
    NavbarToggler,
    NavbarBrand,
    Nav,
    NavItem,
    NavLink,
  } from 'sveltestrap';

  let isOpen = false;
  let current;
  onMount(() => {
    current = location.pathname.substring(1);
  });

  function handleUpdate(event) {
    isOpen = event.detail.isOpen;
  }
</script>

<Navbar container expand="lg">
  <NavbarBrand href="/"> 
    <img class="navbar-brand" height="100" src="images/logo-small.png" alt="chinco">
  </NavbarBrand>
  <NavbarToggler title="navigation" on:click={() => (isOpen = !isOpen)} />
  <Collapse {isOpen} navbar expand="lg" on:update={handleUpdate}>
    <Nav navbar>
      <NavItem>
        <NavLink class="{current === '' ? 'active' : ''}" on:click="{() => current = 'home'}" href="/">Brasserie chinco</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="{current === 'produits' ? 'active' : ''}" on:click="{() => current = 'produits'}" href="/produits">Nos bières</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="{current === 'trouver-chinco' ? 'active' : ''}" on:click="{() => current = 'trouver'}" href="/trouver-chinco">Où trouver la chinco ?</NavLink>
      </NavItem>
    </Nav>

  </Collapse>
</Navbar>
<style lang="scss">
  :global(nav) {
    font-family: Majanan;
    font-size: 40px;
    :global(.navbar-nav) {
      :global(.nav-item) {
        margin-right: 30px;
        font-family: 'Lucida Grande';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;

        :global(a.nav-link) {
          color: black;
          &:hover {
            color: var(--copper);
          }
        }
      }
    }
    :global(.navbar-toggler) {
      :global(.navbar-toggler-icon) {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 117, 40, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    :global(.navbar-collapse) {
      flex-grow: 0;
      padding-top: 40px;
    }
    
    :global(.btn) {
      border: none;
    }

    :global(.btn:hover) {
      background-color: white;
    }
  }
  :global(nav .navbar-nav .nav-item a.nav-link.active) {
    color: var(--copper) !important;
  }

  @include media-breakpoint-up(md) {
    :global(nav) {
      :global(.navbar-nav) {
        :global(.nav-item) {
          line-height: 21px;
        }
      }
      :global(.navbar-collapse) {
        padding-top: 0px;
      }
    }
  }
</style>
