<script>
  export let width;
</script> 

<a class="social" rel="noreferrer" href="https://www.facebook.com/BrasserieChinco" target="_blank">
  <img width={width} src="images/facebook.png" alt="Facebook Chinco"/>
</a>      
<a class="social" rel="noreferrer" href="https://www.instagram.com/BrasserieChinco" target="_blank">
  <img width={width} src="images/instagram.png" alt="Instagram Chinco"/>
</a>  

<style lang="scss">
  a.social {
    img {
      margin-top: 15px;
      margin-right: 10px;
    }
  }
</style>