<script>
    import CardBeer from '../../components/CardBeer.svelte';
    import Footer from '../../components/Footer.svelte';
    import Nav from '../../components/Nav.svelte';
    import '../../styles/global.css';
  </script>
  
  <svelte:head>
    <title>Chinco - Nos produits</title>
  </svelte:head>
  <Nav />
  <main>
    <div class="container">

      <CardBeer slug="epice-noel"
      title="Epices de Noël"
      img="epice-noel"
      desc="Cette bière chaleureuse, douce et puissante, dévoile des arômes et un palais aux notes pleines d'épices. 
      En bouche, vous retrouvez les mêmes saveurs auxquelles s'ajoute la rondeur agréable du miel des fleurs"
      ibu="11.9"
      ebc="33.3"
      pourcent="7.7"
      order=1
      ephemere=true
      barrel=true
      />

      <CardBeer slug="blonde"
      title="Blonde"
      img="blonde"
      desc="Notre bière blonde a un caractère fruité. Elle est épicée à la coriandre, pour faire ressortir 
      le goût du houblon. Sa robe jaune dorée est limpide et permet de voir toutes les bulles qui font 
      de cette bière une boisson pétillante très rafraichissante."
      ibu="21.2"
      ebc="10.7"
      order=2
      pourcent="6.6"
      barrel=true />

      <CardBeer slug="triple"
      title="Triple"
      img="triple"
      desc="La Chinco Triple est une bière avec une robe blond doré. Au nez, on découvre des notes florales, épicées et
      d’agrumes. Elle est onctueuse et délicatement fruitée. En fin de bouche, la Chinco Triple vous laisse une douce saveur,
      légèrement sucrée, ainsi qu’une agréable et fine amertume."
      order=1
      pourcent="10.0"
      ibu="25.5"
      ebc="12.2"
      barrel=true />

      <CardBeer slug="combava"
      title="Blanche combava"
      img="combava"
      desc="Une bière blanche brassée au Combava (citron tropical).
      Légère en alcool, elle présente des arômes fruités avec une petite acidité, ce qui donne une bière très rafraîchissante."
      ibu="13.6"
      ebc="8.4"
      order=2
      pourcent="4.7"
      silver=true
      barrel=true />

      <CardBeer slug="stout"
      title="Stout"
      img="stout"
      desc="L’odeur de café et de chocolat qui émane de notre stout vous mettra l’eau à la bouche. 
      Dotée d’une mousse brun clair, cette bière a l’aspect foncé. En bouche, elle présente un mélange 
      complexe de malt, où vous distinguerez, entre autres, un goût de chocolat et de caramel."
      ibu="11.9"
      ebc="125.7"
      pourcent="8.0"
      order=1
      medal_size="100"
      gold=true
      gold_de=true
      barrel=true />

      <CardBeer slug="ambree"
      title="Ambrée"
      img="ambre"
      desc="Vous retrouverez au nez des arômes de caramel, de malt et d'épices. C'est une bière douce ayant 
      du corps et une belle robe foncée, rouge, avec une amertume modérée. Une fois en bouche, on 
      retrouve des saveurs bien maltées, bien moelleuses, suivies par des notes de caramel."
      ibu="21.7"
      ebc="35.2"
      order=2
      pourcent="6.6"
      barrel=true />
  
      <CardBeer slug="ipa"
      title="IPA"
      img="ipa"
      desc="Pour notre IPA, nous avons souhaité une amertume peu prononcée. Vous y trouverez de fortes notes 
      d’agrumes et des arômes de fleurs. Une touche sucrée en fin de bouche viendra conclure la 
      dégustation."
      ibu="45.3"
      ebc="10.7"
      order=1
      pourcent="6.9"
      barrel=true />
      
      <CardBeer slug="gingembre"
      title="Gingembre"
      img="gingembre"
      desc="Notre bière distinctive, la gingembre, est une bière de caractère aux arômes épicés et à la 
      saveur légèrement piquante et fruitée. Son odeur vous transportera tout de suite dans un univers 
      exotique. Vous retrouverez en bouche un équilibre harmonieux entre la saveur épicée du gingembre 
      et l’agréable goût du houblon."
      ibu="17.2"
      ebc="10.7"
      order=2
      pourcent="6.6"
      barrel=true />

      <CardBeer slug="hibiscus"
      title="Blanche Hibiscus"
      img="hibiscus"
      desc="Les odeurs et saveurs de cette fleur tropicale se démarquent dans cette bière. Chinco Hibiscus est désaltérante, rafraîchissante,
      tonifiante, fruitée, légèrement acidulée avec des notes florales. L'hibiscus ressort fortement dans le nez comme en bouche. Sa mousse est
      blanche, aérienne et légèrement rosée."
      order=1
      pourcent="4.7"
      ephemere=true />

      <CardBeer slug="myrtille"
      title="myrtille vanille"
      img="myrtille"
      desc="Chinco Myrtille Vanille est brassée avec des fruits et de la vanille.
      Rehaussée d’une mousse rose foncé, d’une robe violette, et présentant une légère amertume, notre
      bière vous procurera un gout agréablement fruité et sucré, masquant ainsi les 9.0% d’alcool.
      La saveur vanillée se révèle en fin de bouche."
      order=2
      pourcent="9.0"
      rupture=true
      ephemere=true
      barrel=true />

      <CardBeer slug="fleur-ete"
      title="Miel de fleurs d'été"
      img="fleur-ete"
      desc="Cette bière blonde, élaborée avec soin, est subtilement enrichie de miel de fleurs d'été, apportant une douceur 
      gourmande et des notes délicates en fin de bouche. Rafraîchissante et désaltérante, elle saura ravir vos papilles.
      Le miel utilisé provient de l'apiculteur {"\"Les ruchers d'Harmony et Mickael\""}"
      ibu="15.4"
      ebc="8.9"
      pourcent="6.4"
      order=1
      barrel=true />
      
      <CardBeer slug="poivre"
      title="Poivre de Sichuan"
      img="poivre"
      desc="Cette bière vous apporte toute la rondeur du miel de fleurs, ainsi que la saveur fruitée et les notes
      florales du poivre de Sichuan. Désaltérante et rafraîchissante, elle procure une fin de bouche subtilement
      citronnée. À boire légèrement fraîche."
      pourcent="6.5"
      order=2
      barrel=true />

      <CardBeer slug="tilleul"
      title="Miel de tilleul"
      img="tilleul"
      desc="Cette bière brune triple, brassée avec du miel de tilleul, offre une expérience rafraîchissante avec une 
      légère touche d'amertume. Ses délicates notes florales en fin de bouche ajoutent une dimension subtile et élégante 
      à chaque gorgée. Le miel utilisé provient de l'apiculteur {"\"Les ruchers d'Harmony et Mickael\""}"
      ibu="13.7"
      ebc="28.3"
      pourcent="7.8"
      order=1
      barrel=true />

      <CardBeer slug="miel"
      title="Triple Miel"
      img="miel"
      desc="Le goût et le nez particulier du miel de châtaigner est bien présent et parfaitement combiné
      avec ceux des malts et des houblons. C’est une bière claire, ronde, limpide, à la robe blond
      doré, avec une belle mousse blanche et dense. On retrouvera en bouche une saveur légèrement amère 
      et une subtile touche d’alcool. A boire bien fraiche."
      ibu="16"
      ebc="10.8"
      pourcent="8.0"
      order=2
      rupture=true
      ephemere=true />

    </div>
  </main>
  <Footer />
  <style lang="scss">
    main {
      .container {
        padding-top: 35px;
      }
  }
  </style>