<script>
  import Footer from '../../components/Footer.svelte';
  import Header from '../../components/Header.svelte';
  import Nav from '../../components/Nav.svelte';

  import '../../styles/global.css';
</script>
<svelte:head>
  <title>Chinco - Nous retrouver</title>
</svelte:head>
<Nav />
<main>
  <div class="container">  
    <h2 class="chinco-title">où trouver la chinco ?</h2><br />
    <div class="row">
      <div class="chinco-soon">Bientôt disponible</div>
      <h3 class="chinco-location-title">Location de matériel </h3>
      <p>
        Pour vos événements <span style="font-family:'Lucida Grande Bold'">privés</span> ou <span style="font-family:'Lucida Grande Bold'">professionnels</span>, nous vous proposons notre gamme à la pression, selon vos besoins :<br /><br />
      </p>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/fut.png" alt="fut"/>
        <h3 class="chinco-city-txt"> Fûts</h3>
        <p class="chinco-subinfo">de 20L*</p>
      </div>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/tireuse.png" alt="tireuse"/>
        <h3 class="chinco-city-txt"> Tireuse</h3>
        <p class="chinco-subinfo">à 2 becs</p>
      </div>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/ecocup.png" alt="ecocup"/>
        <h3 class="chinco-city-txt"> Gobelets</h3>
        <p class="chinco-subinfo">écocups Chinco**</p>
      </div>
      <div class="row chinco-service-txt" style="margin-top:30px;">
        <h4 class="chinco-price-title-little">Services inclus :</h4><br />
        <p>Nous fournissons toutes les informations nécessaires à l'installation et à l'utilisation de la tireuse. De plus, nous pouvons vous conseiller sur les volumes à prévoir. 
        Le règlement s'effectue au retour du matériel, et les fûts non utilisés ne sont pas facturés. Selon la quantité voulue et le lieu de votre événement, 
        un service de livraison peut être organisé.</p>
        <br /><br />
        <p>* Sous réserve de disponibilité <br />
        ** Lavables et réutilisables, design non contractuel</p>
      </div>
      <div class="row chinco-buy-background">
      <h3 class="chinco-buy-title">Achat de bières </h3>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/coffret.png" alt="coffret"/>
        <h3 class="chinco-city-txt"> Coffret de 3 bouteilles</h3>
        <p class="chinco-subinfo">Panachage possible</p>
        <p class="chinco-price-txt">10 €</p>
      </div>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/pack.png" alt="pack"/>
        <h3 class="chinco-city-txt"> Pack de 6 bouteilles</h3>
        <p class="chinco-subinfo">Panachage possible</p>
        <p class="chinco-price-txt">18 €</p>
      </div>
      <div class="text-center col-xl-4 col-lg-4 col-12">   
        <img class="chinco-city-img" src="images/fut.png" alt="fut"/>
        <h3 class="chinco-city-txt"> Fût de 20 litres</h3>
        <p class="chinco-price-txt">sur devis uniquement</p>
      </div>
    </div>
    <div class="row" style="margin-top:30px;">
      <h4 class="chinco-price-title-little">Pour commander :</h4><br />
      <p> Pour la livraison (uniquement sur Reims, Bordeaux, Paris ou dans le sud des Ardennes), le click & collect, ou un devis pour la location avec fûts, faites
        votre demande sur contact@chinco.fr. Vous trouverez plus d'informations concernant les bières dans notre 
        <a target="_blank" href="files/brochure.pdf" class="svelte-d2lmsv">brochure téléchargeable</a>
      </p>
    </div>
    <div class="row chinco-city-list">
      <div class="text-center chinco-city-item col-xl-6 col-lg-6 col-12">   
        <h3 class="chinco-city-title">ardennes </h3>
        <img class="chinco-city-img container" src="images/ardennes.webp" alt="Reims"/>
        <p class="chinco-city-txt"> Ardennes sud et proche de Neuflize, <span style="font-family:'Lucida Grande Bold'">Kamal</span> notre brasseur se chargera lui même de votre livraison !
          Contactez le à l'adresse contact@chinco.fr
        </p>
      </div>
      <div class="text-center chinco-city-item col-xl-6 col-lg-6 col-12">   
        <h3 class="chinco-city-title">reims </h3>
        <img class="chinco-city-img container" src="images/reims.webp" alt="Reims"/>
        <p class="chinco-city-txt"> Vous résidez à Reims ou dans les alentours ? Contactez directement <span style="font-family:'Lucida Grande Bold'">Jordan</span> via l'adresse contact@chinco.fr
        pour préciser votre demande, il vous recontactera au plus vite pour vous proposer une livraison.
        </p>
      </div>
      <div class="text-center chinco-city-item col-xl-6 col-lg-6 col-12">   
        <h3 class="chinco-city-title">paris </h3>
        <img class="chinco-city-img container" src="images/paris.webp" alt="Paris"/>
        <p class="chinco-city-txt"> Votre contact pour acheter de la bière Chinco sur Paris est <span style="font-family:'Lucida Grande Bold'">Antoine</span>. Vous pouvez le joindre via le même
        courriel contact@chinco.fr. Il vous livrera directement les bières de votre choix dans la limite des stocks.
        </p>
      </div>
      <div class="text-center chinco-city-item col-xl-6 col-lg-6 col-12">   
        <h3 class="chinco-city-title">bordeaux </h3>
        <img class="chinco-city-img container" src="images/bordeaux.webp" alt="Bordeaux"/>
        <p class="chinco-city-txt"> Chinco débarque à Bordeaux ! Retrouvez <span style="font-family:'Lucida Grande Bold'">Evan</span> dans le sud-ouest de la France pour déguster notre bière, toujours à 
        la même adresse, contact@chinco.fr. Nous avons hâte d'avoir vos retours !
        </p>
      </div>
    </div>

    <h2 class="chinco-title">ils nous font confiance</h2><br />
    <div class="row">
      <p> Nous sommes également présents dans plusieurs points de ventes que ce soit des bars, des restaurants ou des cavistes ! <br />
        N’hésitez pas à aller découvrir nos bières dans ses lieux :) 
      </p>
    </div>
    <div class="row chinco-row-bar">
      <div class="col-xl-6 col-lg-6 col-12">
        <div class="text-center chinco-bloc-bar">   
          <h3 class="chinco-info-title">Bars, restaurants et salons de thé</h3>
          <h4><a href="https://www.instagram.com/lepavillondesdouceurs/" target="_blank">Le Pavillon des Douceurs</a></h4>
          <p class="chinco-adress">63 Rue Jean Baptiste Charcot, Parc de Bécon, 92400 Courbevoie</p>
          <h4>Macallan’s Tavern</h4>
          <p class="chinco-adress">12 Av. Jean Jaurès, 08300 Rethel</p>
          <h4><a href="https://www.facebook.com/profile.php?id=100083275685779" target="_blank">Charlie’s pub</a></h4>
          <p class="chinco-adress">1f rue Françoise Dolto, 51110 Warmeriville</p>
          <h4><a href="https://www.facebook.com/latabledesandorine?locale=fr_FR" target="_blank">La Table de Sandorine</a></h4>
          <p class="chinco-adress">26 Rue Pierre Latécoère, 08300 Rethel</p>
          <h4><a href="https://www.facebook.com/lemoulindelachut.fr?locale=fr_FR" target="_blank">Moulin de la Chut</a></h4>
          <p class="chinco-adress">2 Rue la Chut, 08310 Juniville</p>
          <h4><a href="https://www.instagram.com/yauque.rethel/">Yauque</a></h4>
          <p class="chinco-adress">7 Av. de Bourgoin, 08300 Sault-lès-Rethel</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-12 chinco-col-bar">
        <div class="text-center chinco-bloc-bar">   
          <h3 class="chinco-info-title">Cavistes, épiceries fines et boutiques </h3>
          <h4>Intermarché</h4>
          <p class="chinco-adress">24 Rue de Reims, 08300 Sault-lès-Rethel</p>
          <h4><a href="https://www.facebook.com/boulangeriepaulineetromain?locale=fr_FR" target="_blank">Boulangerie Pauline et Romain</a></h4>
          <p class="chinco-adress">5 Rue des Remparts, 08300 Le Châtelet-sur-Retourne</p>
          <h4><a href="https://www.facebook.com/profile.php?id=100063548978283&locale=fr_FR" target="_blank">La ferme des p’tits gourmands</a></h4>
          <p class="chinco-adress">Rue de l'Abbye, 08310 Juniville</p>
          <h4><a href="https://www.facebook.com/iletaitunebiere/" target="_blank">Il était une bière</a></h4>
          <p class="chinco-adress">5 Av. Jacques Joseph Harmel, 51110 Warmeriville</p>
          <h4><a href="https://5senspark.fr/" target="_blank">5 sens Park</a></h4>
          <p class="chinco-adress">Zone d'activité Witry, 51110 Caurel</p>
          <h4><a href="https://www.facebook.com/retourauxsourcesvouziers08">Retour aux sources</a></h4>
          <p class="chinco-adress">13 Rue Chanzy, 08400 Vouziers</p>
          <h4><a href="https://www.facebook.com/profile.php?id=100057473108759">Epicerie Proxi Tabac Presse Tou'Proch</a></h4>
          <p class="chinco-adress">22 Rue Alfred Doury, 08310 Juniville</p>
          <h4><a href="https://www.facebook.com/drinksclironsodiex">Sodiex Société Nouvelle</a></h4>
          <p class="chinco-adress">Rte de Ham. les Moines, 08090 Cliron</p>
          <h4><a href="https://www.facebook.com/lagare.boutiquedouzy">La Gare - Boutique de Douzy</a></h4>
          <p class="chinco-adress">76 route nationale, 08140 Douzy</p>
        </div>
      </div>
    </div>
  </div>
</main>
<Footer />
<style lang="scss">
  main {
    .chinco {
      &-city-item {
        padding-top: 72px;
      }
      &-city-img {
        max-width: 300px;
        margin-bottom: 50px;
      }
      &-city-txt {
        text-align: center;
        max-width: 55%;
        margin: auto;
      }
      &-price-txt {
        text-align: left;
        max-width: 55%;
        margin: auto;
      }
      &-subinfo {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 0;
      }
      &-buy-title {
        padding-bottom: 72px;
      }
      &-price-txt {
        font-size: 16px;
        font-weight: 600;
        color: #F87528;
        text-align: center;
      }
      &-city-title {
        font-family: 'Majanan';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 79px;
        text-align: center;
        padding-bottom: 32px;
      }
      &-price-title {
        font-family: 'Lucida Grande Bold';
        font-size: 32px;
        line-height: 79px;
        text-align: center;
        padding-bottom: 32px;
        &-little {
          font-family: 'Lucida Grande';
          text-align: left;
          font-size: 16px;
        }
      }
      &-title {
        padding-top: 40px;
        font-family: Majanan;
        font-size: 98px;
        line-height: 86px;
        color: var(--chinco);
      }

      &-info-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
      }
      &-row-bar {
        margin-bottom: 30px;
      }
      &-col-bar {
        margin-top: 10px;
      }
      &-bloc-bar {
        background-color: #FFE7CE;
        border-radius: 15px;
        padding: 48px;
        min-height: 100%;
      }
      &-service-txt {
        font-family: Lucida Grande;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.84px;
        text-align: left;
        padding-bottom: 72px;
      }
      &-soon {
        font-family: Lucida Grande;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: #F87528;
      }
    }
    h3 {
      font-family: 'Lucida Grande Bold';
      font-size: 32px;
      font-weight: 600;
    }
    h4 {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-decoration-line: underline;
      a {
        color: #212529;
        &:hover {
          color: #797c7e;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    main {
      .chinco {
        &-col-bar {
          margin: 0;
        }
      }
    }
  }
</style>